$color : #90ceff, #21587e, #41affe, #47687f, #348ccc;
header{
    background: #21587e;
}

::ng-deep .right-pos-nav{
    float:right;
    .div-center{
        display: flex;
        align-items: center;
        align-content: center;
        height: 100%;
        margin-top: 4px;
     ul{
        margin:0px;
        padding:0px;
         li{
            padding:0px;
            a{
                padding:0px;
                line-height: normal;
                width:25px;
                height:25px;
                color:#fff;
                img{
                    width:25px;
                    height:25px;
                    border-radius:50%;
                    margin-right:15px;
                }
            }
             ul{
                 right:0px;
                 left:auto;
             }
         }
     }
     }
     span{
         color:#fff;
         font-size:12px;
     }
 }

 .side-container{
    width:calc(100% - 225px);
    margin-left:225px;
    position:relative;
    height:calc(100vh);
 }

::ng-deep .vertical-nav{
    width:225px;
    height:calc(100vh);
    background:rgba(0,0,0, .10);
    position:fixed;
    .logo{
        color:#252525;
        margin:0 15px 15px;
        padding:15px 0 ;
        border-bottom:1px solid rgba(255,255,255, 0.10);
        font-weight: bold;
    } 
    nav{
        background:transparent !important;
        ul{
            padding:0px;
            li{
                display:flex;
                padding:5px 0px;
                svg{
                    margin-right:5px;
                }
                a{
                    color:#fff !important;
                    width:100%;
                    display:block;
                }
            }
        }
    }

}
