nav{
    background:#21587e;
}
::ng-deep ul{
    margin:0px;
    li{
      position: relative;
      display: inline-block;
      padding:5px;
      a{
        padding:5px;
        text-decoration: none;
        color:#fff;
        font-size: 12px;
        line-height:24px;
        cursor:pointer;
        svg{
            margin-top: 3px;
            float: left;
        }
      }
        ul{
            position: absolute;
            display: none;
            width: 200px;
            padding: 0;
            background:#21587e;
            li{
                display:block;
            }
        }
        &:hover{
            a{
                background:#21587e;
                color:#fff;
            }
            ul{
                display: block;
            }
        }
    }
}